@import "../../index";

@keyframes svganimation {
  0%{
    stroke-dashoffset: 0;
  }
  50%{
    stroke-dashoffset: 1000;
  }
  100%{
    stroke-dashoffset: 0;
  }
}

@keyframes disappear {
  0%{
    opacity: 1;
  }
  80%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    z-index: -1;
  }
}

.loader-container {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 8em 0;
  background-color: $greenish;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  animation-name: disappear;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

.tree{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.tree svg {
  /* fill: none; */
  stroke-width: 1px;
  stroke: white;
  width: 70%;
  height: 70%;
}

.tree svg .text{
  width: 10px;
  fill: white;
}


.tree svg .p {
  stroke-dashoffset: 700;
  stroke-dasharray: 70;
  animation: svganimation 20s linear forwards infinite;
}

.tree svg .c {
  stroke-dashoffset: 1000;
  stroke-dasharray: 13;
}

.tree svg .c1 {
  animation: svganimation 100s linear forwards infinite ;
}

.tree svg .c2 {
  animation: svganimation 100s linear forwards infinite ;
  animation-delay: .05s;
}

.tree svg .c3 {
  animation: svganimation 100s linear forwards infinite ;
  animation-delay: .25s;
}

.tree svg .c4 {
  animation: svganimation 100s linear forwards infinite ;
  animation-delay: .30s;
}

.tree svg .c5 {
  animation: svganimation 100s linear forwards infinite ;
  animation-delay: .20s;
}

.tree svg .c6 {
  animation: svganimation 100s linear forwards infinite ;
  animation-delay: .10s;
}

.tree svg .c7 {
  animation: svganimation 100s linear forwards infinite ;
  animation-delay: .15s;
}
