@import "../../index";

@keyframes appear {
  from {opacity: 0;}
  to {opacity: 1;}
}

.challenge-popup {
  font-family: 'Dosis', sans-serif;
  font-size: 1.3em;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  z-index: 999;
  animation-name: appear;
  animation-duration: .5s;

  .challenge-container {
    box-sizing: border-box;
    position: relative;
    background-color: white;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    max-height: 600px;

    .challenge-inner {
      position: relative;
      height: 100%;
      padding: 1em 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      box-sizing: border-box;

      &:before,
      &:after {
        content: '';
        position: absolute;
        display: block;
        height: 12px;
        width: 100%;
        background: $red;
        background: repeating-linear-gradient(
            -45deg,
            $red,
            $red 12px,
            transparent 10px,
            transparent 23px
        );
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-bottom: 0;
      }

      &:before {
        top: 0;
      }

      &:after {
        bottom: 0;
      }
    }

    .close-sign {
      cursor: pointer;
      font-size: 2em;
      position: absolute;
      right: .35em;
      top: 0;
    }

    .challenge-text-container {
      overflow: auto;
      width: 100%;
      height: 100%;
      padding: 0 1em;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      h3 {
        font-size: 2.2em;
        font-weight: 500;
        color: $red;
        margin: 0 0 .3em;

        @media screen and (max-width: 1000px) {
          font-size: 1.8em;
        }
      }

      p {
        font-size: 1.8em;
        font-weight: 300;
        margin: 0;

        @media screen and (max-width: 1000px) {
          font-size: 1.3em;
        }
      }

      img {
        margin-top: 1em;
        @media screen and (max-width: 1000px) {
          height: 70px;
        }
      }
    }
  }
}
